@import "./_clickable";

.home-container {
    margin-top: 1%;
    margin-left: 20px; 
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center; 

    label {
        margin-right: 16px;
    } 
    
    .slide-button {
        @extend .clickable;
        margin-left: 16px;
    }
}