@import "./colors";

.overview-item {
    display: flex;
    margin-left: 4px;
    margin-bottom: 4px;

    a {
        margin-left: 8px;
        align-self: center;
        text-decoration: none;
        color: $black
    }

    .check {   
        align-self: flex-start;
    }
}

.overview-item-current {
    @extend .overview-item;
    font-weight: bold;
}