@import "./colors";

.overview {
    width: 20%;
    display: block;
    float: left;
    margin-right: 4px;
    margin-left: 2%;
    border: 1px solid $black;
    height: 60vh;
    margin-top: 10px;
    text-align: left;
    padding-left: 16px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        text-align: left;
    }
}

.overview-item {
    a {
        padding-left: 4px;
        text-decoration: none;
        color: $black
    }
}

.overview-item-current {
    @extend .overview-item;
    font-weight: bold;
}