@import "./colors";
@import "./_clickable";

.overview {
    width: 20%;
    margin-right: 4px;
    margin-left: 2%;
    border: 1px solid $black;
    height: 60vh;
    margin-top: 10px;
    text-align: left;
    padding-left: 16px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        text-align: left;
    }
}

.presentation-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.slideshow-container {
  width: 55%;
}

.slideshow {
  height: 60vh;
  vertical-align: center;
  margin-top: 10px;
  border: 1px solid $black;
 }

.next-button {
  @extend .clickable;
  background-color: $teal;
  float: right;

  &:hover {
    background-color: $teal-highlighted; 
  }
}

.previous-button {
  @extend .clickable;
  float: left;
  background-color: white;
  border: 1px solid #CCC;
  color: #333;

  &:hover {
    background-color: #E6E6E6;
  }
}