.title-slide h1 {
  font-size: 40pt;
  height: 100%;
  margin-top: 30%;
  background: lime; }

.simple-slide .row {
  width: 100%;
  display: inline-block;
  padding-left: 32px; }

.simple-slide h3 {
  font-size: 20pt;
  float: left;
  padding-top: 16px;
  background: lime; }

.simple-slide p {
  float: left;
  background: salmon; }
