.title-slide {
    h1 {
        font-size: 40pt;
        padding: 20%;
        vertical-align: center;
        // background: lime;
    }
}

.simple-slide {
    .row {
        width: 100%;
        display: inline-block;
        padding-left: 32px;
    }
    h3 {
        font-size: 20pt;
        float: left;
        padding-top: 16px;
        // background: lime;
    }
    p {
        float: left;
        // background: salmon;
    }
}