.slideshow-container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }

.slideshow {
  height: 60vh;
  vertical-align: center;
  margin-top: 10px;
  border: 1px solid black; }

.next-button {
  float: right; }

.previous-button {
  float: left; }
