@import "./colors";
@import "./_clickable";

.slideshow-container {
  width: 55%;
  margin-right: 20%;
  display: block;
  float: left;
}

.slideshow {
  height: 60vh;
  vertical-align: center;
  margin-top: 10px;
  border: 1px solid $black;
 }

.next-button {
  @extend .clickable;
  background-color: $teal;
  float: right;

  &:hover {
    background-color: $teal-highlighted; 
  }
}

.previous-button {
  @extend .clickable;
  float: left;
  background-color: white;
  border: 1px solid #CCC;
  color: #333;

  &:hover {
    background-color: #E6E6E6;
  }
}