.title-slide {
    h1 {
        font-size: 40pt;
        padding: 20%;
        vertical-align: center;
        text-align: center;
    }
}

.content-slide {
    width: 95%;

    h3 {
        font-size: 20pt;
        float: left;
        padding-top: 16px;
    }

    .row {
        width: 100%;
        display: inline-block;
        padding-left: 32px;
    }
}

.simple-slide {
    @extend .content-slide;

    p {
        float: left;
        margin-right: 8px;
    }
}

.two-column-slide {
    @extend .content-slide;

    .slide-column:nth-child(2) {
        margin-left: 16px;
    }

    .slide-column {
        width: 45%;
        float: left;
        
        img {
            width: 100%;
            margin-right: 4px;
        }
    }
}